.impeccable-rental
    display: flex
    margin-bottom: 30px
    +min-screen($screen-lg)
        margin: 0
    &._margin-bottom
        +min-screen($screen-lg)
            margin-bottom: rem(150px)
    &._bordered-on-mobile
        +max-screen($screen-md)
            padding: 30px 15px
            border: 1px solid $brand_color

    &__content
        ._with-padding &
            padding: 30px 15px
            +min-screen($screen-lg)
                padding: rem(30px) rem(37px)
    &__title
        margin-bottom: 29px
        font-size: 32px
        line-height: 1.1
        ._with-padding &
            text-align: center
        ._bordered-on-mobile &
            +max-screen($screen-md)
                text-align: center
        +min-screen($screen-lg)
            font-size: rem(40px)
        +min-screen($screen-xlg)
            margin-bottom: rem(10px)
            font-size: rem(42px)
    &-list
        &__item
            position: relative
            padding: 0 30px 0 40px
            font-size: rem(18px)
            +min-screen($screen-lg)
                padding: 0 rem(46px)
                &:before
                    left: rem(15px)
            &:not(:last-of-type)
                margin-bottom: rem(13px)
            &:before
                +b
                +size(29px)
                top: 4px
                left: 0px
                background: url('../img/arrow-blue.svg') no-repeat center
                background-size: contain