.detail-sidebar
    position: relative
    flex-direction: column
    background: #0F2733
    padding: 15px 15px 16px
    z-index: 100
    +min-screen($screen-md)
        padding: 0
    &-head
        display: flex
        justify-content: space-between
        padding: 0 
        border-bottom: 1px solid $brand_color
        +min-screen($screen-md)
            display: block
            padding: rem(22px) rem(20px) rem(25px)
            border-bottom: 1px solid $body_bg
        &__title
            padding-bottom: 7px
            margin-bottom: rem(10px)
            border-bottom: 1px solid transparentize($brand_color, .7)
            +min-screen($screen-md)
                padding: 0
                margin-bottom: rem(20px)
                text-align: center
                font-size: rem(30px)
                border: none
        &__col
            +max-screen($screen-sm - 1px)
                flex: 0 1 40%
                flex-direction: column
                font-size: rem(18px)
                &:first-of-type
                    flex: auto
                    margin-right: 43px
                &:last-of-type
                    flex: 1 0 36%
                    white-space: nowrap
                ._day
                    display: none
    &__all
        flex: 0
        text-align: center
        color: $brand_color
        a
            border-bottom: 1px solid $brand_color
    &__price
        font-size: rem(36px)
        line-height: 1
        span
            display: block
            font-size: rem(21px)
    &-price-list
        display: flex
        flex-direction: column
        +min-screen($screen-md)
            flex-direction: row
            justify-content: space-between
        &__item
            display: flex
            justify-content: space-between
            margin-bottom: 11px
            font-size: 18px
            color: $brand_color
            ._promo &
                flex-direction: column
                span
                    margin-top: rem(3px)
            +min-screen($screen-md)
                display: block
                flex: 1 0 0
                position: relative
                margin-bottom: rem(20px)
                font-size: rem(16px)
                &:not(:last-of-type)
                    &:after
                        +b
                        top: 50%
                        right: rem(7px)
                        width: rem(8px)
                        height: rem(48px)
                        transform: translateY(-50%)
                        background: url('../img/arrow-blue-big.svg') no-repeat center
                        background-size: contain
                ._day
                    display: none
            span
                display: flex
                color: #FFF                
                +min-screen($screen-md)
                    display: block
                    font-size: rem(18px)
                    line-height: 1.7
            a
                box-shadow: 0px 1px 0px rgba(150, 184, 191, 0.4)
                &:hover
                    box-shadow: none
    &-body
        padding: 16px 0px 0
        +min-screen($screen-md)
            padding: rem(20px) rem(20px) rem(33px)
        &__title
            margin-bottom: rem(24px)
            text-align: center
            font-size: rem(24px)
            line-height: 1.2
    &-result
        margin-bottom: rem(40px)
        &__col
            display: flex
            flex: 1 1 0
            text-align: center
            font-size: 18px
            +min-screen($screen-md)
                display: block
                font-size: rem(16px)
            span
                display: inline-block
                margin-right: 7px
                color: $brand_color
                font-size: 18px
                +min-screen($screen-md)
                    margin-bottom: rem(5px)
                    margin-right: 0
                    font-size: rem(16px)
                
    &-note
        margin-top: rem(16px)
        text-align: center
        color: $brand_color
    &__button
        +max-screen($screen-xs)
            position: fixed
            bottom: 24px
            left: $indent-col-xs
            width: calc(100% - #{$indent-col-xs} * 2) !important
            z-index: 1000
    &__backdrop
        +max-screen($screen-xs)
            position: fixed
            bottom: -1px
            left: 0
            +size(100vw, 100px)
            background: linear-gradient(0deg, #091B24 0%, rgba(9, 27, 36, 0) 100%)
            z-index: 0