.social-contacts
    display: flex
    align-items: center
    flex-direction: column
    +min-screen($screen-sm)
        justify-content: center
        flex-direction: row
    +min-screen($screen-md)
        justify-content: flex-start
    &__phone
        margin-bottom: 18px
        @extend .transition
        ._white &
            color: #FFF
            &:hover
                color: $blue
        ._grey &
            color: $brand_color
            &:hover
                color: $blue
        ._small &
            font-size: 21px
        ._big &
            font-size: 32px
        +min-screen($screen-md)
            margin-bottom: 0
            ._small &
                font-size: rem(21px)
            ._big &
                font-size: rem(32px)
    &-soclinks
        display: flex
        align-items: center
        margin-bottom: 18px
        +min-screen($screen-md)
            margin-bottom: 0
        &__icon
            display: block
            fill: inharit
            @extend .transition
            ._small &
                +size(rem(16px))
                margin-left: rem(23px)
            ._big &
                +size(30px)
                margin: 0 19px
                +min-screen($screen-md)
                    margin-right: 0
                    margin-left: rem(27px)
            ._white &
                fill: #FFF
                &:hover
                    fill: $blue
            ._grey &
                fill: $brand_color
                &:hover
                    fill: $blue